/* src/index.css */
:root {
font-family: 'Inter', system-ui, Avenir, Helvetica, Arial, sans-serif;
line-height: 1.5;
font-weight: 400;

--bg-color: #ffffff;
--text-color: #000000;

color-scheme: light;
background-color: var(--bg-color);
color: var(--text-color);

text-rendering: optimizeLegibility;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
}

[data-theme="dark"] {
--bg-color: #121212;
--text-color: #ffffff;
}

[data-theme="light"] {
--bg-color: #ffffff;
--text-color: #000000;
}

body {
margin: 0;
padding: 0;
width: 100%;
overflow-x: hidden;
background-color: var(--bg-color);
color: var(--text-color);
transition: background-color 0.3s, color 0.3s;
}

a {
color: #646cff;
text-decoration: none;
}
a:hover {
color: #535bf2;
}

section {
padding: 4rem 6rem;
}
@media (max-width: 1024px) {
section {
padding: 3rem 3rem;
}
}
@media (max-width: 768px) {
section {
padding: 2rem 1rem;
}
}
@media (max-width: 480px) {
section {
padding: 1rem 0.5rem;
}
}



